SECRET_KEY=change-me
ALLOWED_HOSTS=webserver,localhost,127.0.0.1,localhost:8000,127.0.0.1:8000

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

DEBUG=False
